.infographicBlock {
  display: block;  
  width: 100%;
  text-align: center;
  margin: 200 200;
  padding: 50 50;
}
h5,.h5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
}
.fullWidth {
  width: 98% !important;
  margin: 10px 10px !important;
  padding: 5 !important;
}
.yellowStar{
  color: #F2E600;
}
.flexButton{
    border: none;
    text-decoration: none;
    color: #F9F8F1;
    background-color: #2B2B60;
    cursor: pointer;
}
.flexContainer {
  display: flex;
  flex-flow: row;

}
.flexsideHeader {
  flex: 1 auto;
  margin-top: 12px;
  text-align: center;
}

.flexsideHeader h3 {
  cursor: pointer;
  color: #F9F8F1;
  text-decoration: none;
}

.flexside {
  flex: 1 auto;
  margin-top: 15px;
  margin-left: 15px;
}
.flexsideCenter {
  flex: 1 auto;
  margin: auto;
  width: 50%;
  text-align: right;
}
.flexmiddle {
  flex: 7 0px;

}
.flexpassword {
  flex: 3;
  margin-top: 15px;
  text-align: left;
}
.flexsideLogin {
  flex: 1 auto;
  margin-top: 12px;
  text-align: center;
}
.flexmiddleLogin {
  flex: 5 0px;
  margin: auto;
  width: 50%;
  color: #2B2B60;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Modal-Header {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
hr.solid {
  border-top: 3px solid #bbb;
}

.App-link {
  color: #61dafb;
}

.vertical-center {
  text-align:center;
}

.header-modal{
  color:black
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
