body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 
  background-color: #2B2B60;
  color: #DE7355;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:link {
  color: #DE7355;
}

/* visited link */
a:visited {
  color: #DE7355;
}

/* mouse over link */
a:hover {
  color: #F9F8F1;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #FFF;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

